body {
	background-color: #000;
	font-family: 'Raleway Webfont', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

header {
padding: 20px;
}
header img {

	width: 50px;
}
.small-grid-container  {
	max-width: 320px;
}

.dialPart button {
	background-color: #383838;
	color: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	border: 0;
	font-size: 25px;
	box-sizing: border-box;
}



.dialPart .cam.off i {
	opacity: 0.3;
}

.dialPart button:hover {
	background-color: rgb(80, 80, 80);
}

.dialPart button.green {
	background-color: #8DBD35;
}

.dialPart button.green:hover {
	background-color: #9FD836;
}

.dialPart button.red {
	background-color: rgb(158, 1, 1);
}

.dialPart button.red:hover {
	background-color: rgb(198, 4, 4)
}
.dialPart .cam button,
.dialPart .mic button,
.dialPart .hang-up button,
.dialPart .dial button {
	font-size: 20px;
}

.monitorPart {
	padding: 20px;
	box-sizing: border-box;
}

.monitorPart .running {
	color: #92C438;
	font-size: 20px;
}

.monitorPart .caller {
	font-size: 35px;
}

.monitorPart input {
	background-color: #000;
	color: #fff;
	border: 0;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.monitorPart .dialfield {
	font-size: 20px;
}

.monitorPart .dialfield .fa-remove {
	cursor:pointer;
}

.incomingPart button {
	height: 30px;
	min-width: 100px;
	border: 0;
	margin: 0 10px;	
}

.incomingPart .box {
	border: 1px dashed #92C438;
	padding: 10px;
}
.incomingPart .accept {
	background-color: #9FD836;
	color: #fff;
}

.incomingPart .refuse {
	background-color: rgb(198, 4, 4);
	color: #fff;
}
